@import "../abstracts/variables";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Rem Units for Responsive Designs <= IE9 */
  /* Defines what 1 Rem is in app */
  /* Root font size */
  /* 10px (what i want) / 16px (on user agent) = 0.625 => 62.5% */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
